mixin column_item(item, index, status)
  .issue-item(class="#{status}", data-issue="#{item.number}", data-githubid="#{item.id}", data-position="#{index}")
    h2= item.title
    p= item.body
    a(href="#{item.html_url}", target="_blank") View on GitHub
    span.time= item.updated_at.substr(0, 10)