mixin column_item(item, index, status)
  .issue-item(class="#{status}", data-issue="#{item.number}", data-githubid="#{item.id}", data-position="#{index}")
    h2= truncate(item.title, 68)
    p= truncate(item.body, 140)
    div.meta
      a.ir.github-link(href="#{item.html_url}", target="_blank", title="View on GitHub") View on GitHub
      span
        = "#"+item.number
        = " by "
        a(href="http://github.com/#{item.user.login}", target="_blank", title="#{item.user.login}")= item.user.login
        = " "
        span.timeago(title="#{item.updated_at}")= item.updated_at.substr(0, 10)
    .clearfix