script(type='text/html', id='projectselect').
   <div class="modal" id="project-modal">
     <div class="modal-header">
       <img class="gravatar" src="http://www.gravatar.com/avatar/{{infoobj.gravatar_id}}" />
       <h3 class="gravatar">Hey, {{infoobj.name}}</h3>
       <div class="clearfix"></div>
     </div>
     <div class="modal-body">
       <form>
        <input type="hidden" id="username" name="username" value="{{infoobj.login}}" />
        <input type="hidden" id="key" name="key" value="" />
        <label for="username">Select a project</label>
        <select id="project-select">
         {{#repos}}
         <option value="{{name}}">{{name}}</option>
         {{/repos}}
        </select>
     </div>
     <div class="modal-footer">
        <a href="#" class="btn btn-primary" id="go-btn">Git er done</a>
      </div>
   </div>
  
- if (typeof pname !== 'undefined')
  script
    window.ICEY.repo = '#{pname}'

script
  if (typeof(window.ICEY.repo)!=='undefined') {
    console.log('project has been selected')
  } else {
    console.log('no project yet')
  }


#board
  .container
    h3 Repos with open issues
    table.table.table-striped
      tr
        th Name
        th Open Issues
      - each item in repos
        tr
          td
            a(href="/context/#{context}/project/#{item.owner.login}/#{item.name}/", data-owner="#{item.owner.login}")= item.name
          td= item.open_issues
            
    h3 Other repos
    table.table.table-striped
      tr
        th Name
        th Open Issues
      - each item in otherRepos
        tr
          td
            a(href="/context/#{context}/project/#{item.owner.login}/#{item.name}/", data-owner="#{item.owner.login}")= item.name
          td= item.open_issues