- if (typeof pname !== 'undefined')
  script
    window.ICEY.repo = '#{pname}'

script
  if (typeof(window.ICEY.repo)!=='undefined') {
    console.log('project has been selected')
  } else {
    console.log('no project yet')
  }


#board
  .container
    h3 Repos with open issues
    table.table.table-striped
      tr
        th Name
        th Open Issues
      - each item in repos
        tr
          td
            a(href="/context/#{context}/project/#{item.owner.login}/#{item.name}/", data-owner="#{item.owner.login}")= item.name
          td= item.open_issues
            
    h3 Other repos
    table.table.table-striped
      tr
        th Name
        th Open Issues
      - each item in otherRepos
        tr
          td
            a(href="/context/#{context}/project/#{item.owner.login}/#{item.name}/", data-owner="#{item.owner.login}")= item.name
          td= item.open_issues