include _column_header
include _column_item

script(type='text/html', id='newissue').
   <div class="modal" id="newissue-modal">
     <div class="modal-header">
       <a href="#" class="close" data-dismiss="modal">×</a>
       <h3>New issue</h3>
     </div>
     <div class="modal-body">
       <form accept-charset="UTF-8" action="/issue/new" method="POST">
        <input type="hidden" name="context" value="#{context}" />
        <input type="hidden" name="repo" value="#{project}" />
        <label for="title">Title</label>
        <input class="span6" type="text" name="title" id="title" placeholder="Title" />
        <textarea class="span6" type="text" name="desc" id="desc" placeholder="Description"></textarea>
     </div>
     <div class="modal-footer">
        <input type="submit" class="btn btn-success" value="Submit new issue" />
      </div>
      </form>
   </div>

script
  window.ICEY.github_id = '#{project_id}'

- if (typeof openissues !='undefined')

  #board

    .container-fluid
      .row-fluid

        .span3.column-outer
          h3 Icebox
        
          .well.statecolumn(id="icebox#{issue_namespace}")
            mixin column_header
            - each item, index in iceboxissues
              mixin column_item(item, index, 'ICEBOX')
  
        .span3.column-outer
          h3 Backlog
          
          .well.statecolumn(id="backlog#{issue_namespace}")
            mixin column_header
            - each item, index in backlogissues
              mixin column_item(item, index, 'BACKLOG')
  
  
        .span3.column-outer
          h3 Current
          
          .well.statecolumn(id="current#{issue_namespace}")
            mixin column_header
            - each item, index in currentissues
              mixin column_item(item, index, 'STARTED')
  
  
        .span3.column-outer
          h3 Complete
          .well.statecolumn(id="completed#{issue_namespace}")
            mixin column_header
            - each item, index in closedissues
              mixin column_item(item, index, 'CLOSED')    