.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      a.brand= pname
      ul.nav
        li.divider-vertical
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Switch projects
            b.caret
          ul.dropdown-menu
            li.nav-header Repos
            - each item in repos
              li
                a(href="/project/#{user}/#{item.name}/#{key}")= item.name
        li.divider-vertical
      ul.nav.pull-right
        li
          a.inactive Logged in as <strong>#{user}</strong>
        li.divider-vertical
        li
          a(href="/") Log out

#board

  .container-fluid
    .row-fluid

      .span3
        h3 Icebox
        .well#icebox
          - each item in openissues
            .well.issue-item
              span.time= item.updated_at.substr(0, 10)
              h2= item.title
              hr
              p= item.body
              a(href="#{item.html_url}", target="_blank") View on GitHub
              span.label.item-label ICEBOX 
  
      .span3
        h3 Backlog
        .well#backlog
  
  
      .span3
        h3 Current
        .well#current
  
  
      .span3
        h3 Complete
        .well#completed
          - each item in closedissues
            .well.issue-item
              span.time= item.updated_at.substr(0, 10)
              h2= item.title
              hr
              p= item.body
              a(href="#{item.html_url}", target="_blank") View on GitHub  
              span.label.item-label.label-important CLOSED      