script(type='text/html', id='newissue').
   <div class="modal" id="newissue-modal">
     <div class="modal-header">
       <a href="#" class="close" data-dismiss="modal">×</a>
       <h3>New issue</h3>
     </div>
     <div class="modal-body">
       <form accept-charset="UTF-8" action="/issue/new" method="POST">
        <input type="hidden" name="context" value="#{context}" />
        <input type="hidden" name="repo" value="#{project}" />
        <label for="title">Title</label>
        <input class="span6" type="text" name="title" id="title" placeholder="Title" />
        <textarea class="span6" type="text" name="desc" id="desc" placeholder="Description"></textarea>
     </div>
     <div class="modal-footer">
        <input type="submit" class="btn btn-success" value="Submit new issue" />
      </div>
      </form>
   </div>

script
  window.ICEY = window.ICEY || {};

.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      a.brand= context
      ul.nav
        li.divider-vertical
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | #{project}
            b.caret
          ul.dropdown-menu
            li.nav-header With open issues
            - each item in repos
              li
                a(href="/context/#{context}/project/#{item.name}/")= item.name
            li.nav-header All projects
            li
              a(href="/context/#{context}/") View all
        li.divider-vertical
        li
          a#new-issue Add issue
        li.divider-vertical
      ul.nav.pull-right
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span <strong>#{context}</strong>&nbsp;
            b.caret
          ul.dropdown-menu
            li.nav-header Use as
            li
              a(href="/projects")= user.github.login  
            - each item in orgs
              li
                a(href="/context/#{item.login}/")= item.login
        li.divider-vertical
        li
          a(href="/logout") Log out

- if (typeof openissues !='undefined')

  #board

    .container-fluid
      .row-fluid

        .span3
          h3 Icebox
        
          .well(id="icebox#{issue_namespace}")
            - each item in openissues
              .well.issue-item(data-issue="#{item.number}")
                span.time= item.updated_at.substr(0, 10)
                h2= item.title
                hr
                p= item.body
                a(href="#{item.html_url}", target="_blank") View on GitHub
                span.label.item-label ICEBOX 
  
        .span3
          h3 Backlog
          .well(id="backlog#{issue_namespace}")
  
  
        .span3
          h3 Current
          .well(id="current#{issue_namespace}")
  
  
        .span3
          h3 Complete
          .well(id="completed#{issue_namespace}")
            - each item in closedissues
              .well.issue-item(data-issue="#{item.number}")
                span.time= item.updated_at.substr(0, 10)
                h2= item.title
                hr
                p= item.body
                a(href="#{item.html_url}", target="_blank") View on GitHub  
                span.label.item-label.label-important CLOSED      