script(type='text/html', id='projectselect').
   <div class="modal" id="project-modal">
     <div class="modal-header">
       <img class="gravatar" src="http://www.gravatar.com/avatar/{{infoobj.gravatar_id}}" />
       <h3 class="gravatar">Hey, {{infoobj.name}}</h3>
       <div class="clearfix"></div>
     </div>
     <div class="modal-body">
       <form>
        <input type="hidden" id="username" name="username" value="{{infoobj.login}}" />
        <input type="hidden" id="key" name="key" value="" />
        <label for="username">Select a project</label>
        <select id="project-select">
         {{#repos}}
         <option value="{{name}}">{{name}}</option>
         {{/repos}}
        </select>
     </div>
     <div class="modal-footer">
        <a href="#" class="btn btn-primary" id="go-btn">Git er done</a>
      </div>
   </div>

script
  window.ICEY = window.ICEY || {};
  
- if (typeof pname !== 'undefined')
  script
    window.ICEY.repo = '#{pname}'

script
  if (typeof(window.ICEY.repo)!=='undefined') {
    console.log('project has been selected')
  } else {
    console.log('no project yet')
  }

.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      a.brand= context
      ul.nav
        li.divider-vertical
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            | Switch projects
            b.caret
          ul.dropdown-menu
            li.nav-header Repos
            - each item in repos
              li
                a(href="/context/#{context}/project/#{item.name}/")= item.name
        li.divider-vertical
      ul.nav.pull-right
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span Logged in as <strong>#{user.github.name}</strong>
            b.caret
          ul.dropdown-menu
            li.nav-header Use as
            li
              a(href="/projects")= user.github.login  
            - each item in orgs
              li
                a(href="/context/#{item.login}/")= item.login
        li.divider-vertical
        li
          a(href="/logout") Log out

//- #board
//- 
//-   .container-fluid
//-     .row-fluid
//- 
//-       .span3
//-         h3 Icebox
//-         
//-         .well#icebox
//-           - each item in openissues
//-             .well.issue-item(data-issue="#{item.number}")
//-               span.time= item.updated_at.substr(0, 10)
//-               h2= item.title
//-               hr
//-               p= item.body
//-               a(href="#{item.html_url}", target="_blank") View on GitHub
//-               span.label.item-label ICEBOX 
//-   
//-       .span3
//-         h3 Backlog
//-         .well#backlog
//-   
//-   
//-       .span3
//-         h3 Current
//-         .well#current
//-   
//-   
//-       .span3
//-         h3 Complete
//-         .well#completed
//-           - each item in closedissues
//-             .well.issue-item
//-               span.time= item.updated_at.substr(0, 10)
//-               h2= item.title
//-               hr
//-               p= item.body
//-               a(href="#{item.html_url}", target="_blank") View on GitHub  
//-               span.label.item-label.label-important CLOSED      